@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components; 
@tailwind utilities;


@import 'swiper/swiper-bundle.css';


/* Adicione isso ao seu CSS global */
.custom-checkbox {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  border: 2px solid #4F4F4F !important;
  background-color: transparent;
  border-radius: 0.25rem; /* 4px */
  transition: background-color 0.3s, border-color 0.3s;
  appearance: none; /* Remove o estilo padrão */
  position: relative; /* Necessário para o ícone de checado */
}

.custom-checkbox:checked {
  background-color: #F2DD52 !important;
  border-color: #F2DD52 !important;
}

.custom-checkbox:checked::after {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900; /* Importante para ícones do FontAwesome */
  color: #171717; /* Cor do ícone */
  font-size: 0.75rem; /* Ajuste o tamanho do ícone conforme necessário */
}

.cart-sidebar {
  transition: transform 0.5s ease;
}

.cart-sidebar-open {
  transform: translateX(0);
}

.cart-sidebar-closed {
  transform: translateX(100%);
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input {
  border-color: #F2DD52 !important;
  color: #FFFFFF;
}

input:focus {
  border-color: #F2DD52 !important;
  color: #FFFFFF; 
}

input::placeholder {
  color: #FFFFFF; 
}



body {
  color: var(--foreground);
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
