@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components; 
@tailwind utilities;


@import 'swiper/swiper-bundle.css';


/* Adicione isso ao seu CSS global */
.custom-checkbox {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  border: 2px solid #4F4F4F !important;
  background-color: transparent;
  border-radius: 0.25rem; /* 4px */
  transition: background-color 0.3s, border-color 0.3s;
  appearance: none; /* Remove o estilo padrão */
  position: relative; /* Necessário para o ícone de checado */
}

.custom-checkbox:checked {
  background-color: #F2DD52 !important;
  border-color: #F2DD52 !important;
}

.custom-checkbox:checked::after {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900; /* Importante para ícones do FontAwesome */
  color: #171717; /* Cor do ícone */
  font-size: 0.75rem; /* Ajuste o tamanho do ícone conforme necessário */
}
.scrollbar-hidden {
  overflow-y: auto;
}

/* Personalizar barra de rolagem */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb {
  scrollbar-color: #F2DD52 #212020;
}

.scrollbar-rounded-md::-webkit-scrollbar {
  width: 8px;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos para o React Quill */
.ql-container {
  border: 2px solid #4F4F4F !important; /* Borda do editor */
  border-radius: 1rem !important; /* Rounded-md */
  background-color: transparent !important; /* Fundo transparente */
  font-family: 'Poppins', sans-serif !important; /* Fonte Poppins */
}

.ql-editor {
  padding: 1rem !important; /* Espaçamento interno */

  color: #4F4F4F !important; /* Cor do texto */
  background-color: transparent !important; /* Fundo transparente */
}

.ql-toolbar {
  border: none !important; /* Remover borda do toolbar */
  background-color: transparent !important; /* Fundo transparente */
}

.ql-toolbar button {
  color: #4F4F4F !important; /* Cor dos ícones do toolbar */
}

.ql-toolbar button:hover {
  color: #F2DD52 !important; /* Cor do ícone ao passar o mouse */
}

.ql-placeholder {
  color: #4F4F4F !important; /* Cor do placeholder */
}

/* Ajustes para os botões de formatação */
.ql-toolbar .ql-bold.ql-active,
.ql-toolbar .ql-italic.ql-active {
  color: #F2DD52 !important; /* Cor dos botões ativos */
}

.scrollbar-rounded-md::-webkit-scrollbar-track {
  background-color: #212020;
  border-radius: 10px;
}

.scrollbar-rounded-md::-webkit-scrollbar-thumb {
  background-color: #F2DD52;
  border-radius: 10px;
  border: 2px solid transparent; /* Espaçamento entre a barra de rolagem e a trilha */
  background-clip: padding-box; /* Permite o espaçamento ao redor da barra */
}

/* Estilo para esconder a barra de rolagem */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari e Opera */
}

.cart-sidebar {
  transition: transform 0.5s ease;
}

.cart-sidebar-open {
  transform: translateX(0);
}

.cart-sidebar-closed {
  transform: translateX(100%);
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input {
  border-color: #F2DD52 !important;
  color: #FFFFFF;
}

input:focus {
  border-color: #F2DD52 !important;
  color: #FFFFFF; 
}

input::placeholder {
  color: #FFFFFF; 
}



body {
  color: var(--foreground);
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
